
<div class="container-fluid">
        <div class="col-sm-9 col-md-10 main">
            <h1 class="page-header">Form: {{form.title}}</h1>
            <ul class="nav nav-pills">
                <li><a href="/forms">Forms</a></li>
                <li class="active"><a href="#">Fields</a></li>
            </ul>

            <div class="table table-responsive">
                <table class="table table-striped">

                    <div class="form-group">
                        <tbody>
                        <tr data-ng-repeat='field in form["fields"]'>
                            <td data-ng-switch="field['type']">
                                {{field.title}}:

                                <input data-ng-switch-when="Text" type="text" class="form-control" data-ng-model='field.text'>

                                <select data-ng-switch-when="Dropdown" class="form-control">
                                    <option data-ng-model='option.text' data-ng-repeat="option in field['options']">{{option.text}}</option>
                                </select>

                                <input data-ng-switch-when="Date" type="date" class="form-control">

                                <div data-ng-switch-when="Radio Button" class="radio">
                                    <label data-ng-model="option.text" data-ng-repeat="option in field['options']"><input type="radio" name="optradio"></label>
                                </div>

                                <p data-ng-model="field.text" data-ng-switch-when="Paragraph"></p>

                                <p data-ng-switch-default>unknown field type: {{field['type']}}</p>

                            </td>

                            <td>
                                <span data-ng-click="editField(field)" class="glyphicon glyphicon-ok"></span>
                                <span data-ng-click="deleteField(field)" class="glyphicon glyphicon-remove"></span>
                                <span data-ng-click="moveField(field)" class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            </td>
                        </tr>

                        </div>
                    <tr>
                        <td>
                            Add New Field:
                            <select data-ng-model="newFieldType" class="form-control" placeholder="Text">
                                <option >Text</option>
                                <option>Date</option>
                                <option>Dropdown</option>
                                <option>Checkbox</option>
                                <option>Radio Button</option>
                                <option>Paragraph</option>
                            </select>
                        </td>
                        <td><span data-ng-click="addField(newFieldType)" class="glyphicon glyphicon-plus"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
