<!DOCTYPE html>
<html lang="en">

<div class="container-fluid">

            <h1 class="page-header">Forms</h1>
            <ul class="nav nav-pills">
                <li class="active"><a href="#">Forms</a></li>
                <li><a href="form-fields.view.html">Fields</a></li>
            </ul>
            <div class="table table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><div class="th-inner sortable both"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Form Name</div></th>
                            <th><div class="th-inner sortable both"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Action</div></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><input type="text" class="form-control" id="newFormName" placeholder="New Form Name"></td>
                            <td><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-ok" ></span></td>
                        </tr>

                        <tr>
                            <td>Registration Form</td>
                            <td><span class="glyphicon glyphicon-remove"></span><span class="glyphicon glyphicon-pencil"></span></td>
                        </tr>

                        <tr>
                            <td>Contact List</td>
                            <td><span class="glyphicon glyphicon-remove"></span><span class="glyphicon glyphicon-pencil"></span></td>
                        </tr>

                        <tr>
                            <td>To Do List</td>
                            <td><span class="glyphicon glyphicon-remove"><span class="glyphicon glyphicon-pencil"></span></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>
