<h1 class="page-header">Forms</h1>
<ul class="nav nav-pills">
    <li class="active"><a href="#">Forms</a></li>
    <li><a href="/form-fields">Fields</a></li>
</ul>
<div class="table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><div class="th-inner sortable both"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Form Name</div></th>
                <th><div class="th-inner sortable both"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Action</div></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><input required data-ng-model="newFormName" type="text" class="form-control" id="newFormName" placeholder="New Form Name"></td>
                <td>
                    <button data-ng-click="addForm(newFormName)" class="glyphicon glyphicon-plus"></button>
                    <button data-ng-click="updateForm(newFormName)" class="glyphicon glyphicon-ok"></button>
                </td>
            </tr>


            <tr data-ng-repeat="form in forms">
                <td data-ng-click="selectForm(form)"><button>{{form.title}}</button></td>
                <td>
                    <!-- pass by object preferred over pass by index in case of filtered index not matching original index -->
                    <button data-ng-click="deleteForm(form)" class="glyphicon glyphicon-remove"></button>
                    <button data-ng-click="updateForm(form)" class="glyphicon glyphicon-pencil"></button>
                </td>
            </tr>

        </tbody>
    </table>
</div>

