<nav class="navbar navbar-fixed-top"  data-ng-controller="SidebarController">
    <div class="sidebar">
        <ul class="nav nav-sidebar">
            <li data-ng-class="{'active': location.url() == '/'}"><a href="/">Home</a></li>
            <li data-ng-show="showUsername" data-ng-class="{'active': location.url() == '/profile'}"><a href="/profile">{{Username}}</a></li>
            <li data-ng-show="showAdmin" data-ng-class="{'active': location.url() == '/admin'}"><a href="/admin">Admin</a></li>
            <li data-ng-show="showUsername" data-ng-class="{'active': location.url() == '/forms' || location.url() == '/form-fields'}"><a href="/forms">Forms</a></li>
            <li data-ng-class="{'active': location.url() == '/project'}"><a href="/project">Project</a></li>
            <li data-ng-show="location.url() == '/project'"><a href="https://docs.google.com/document/d/1CA3YjVF_ig_SU2JbJcmHuaAOBGmdseNnJg6LF_RrJjA/edit?usp=sharing">Doc</a></li>
            <li data-ng-show="location.url() == '/project'"><a href="https://youtu.be/MEKwt63gDm4">Video</a></li>
        </ul>
    </div>
</nav>